<div class="admin-panel d-flex">
  <nav class="left-panel bg-dark text-light p-3">
    <a href="/"><h2 class="mb-4">🚌 SAFEKIDS</h2></a>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="./alumnos" routerLinkActive="active">
          <i class="bi bi-person-badge me-2"></i> Alumnos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="./apoderados" routerLinkActive="active">
          <i class="bi bi-people-fill me-2"></i> Apoderados
        </a>
      </li>
      <ng-container *ngIf="isSuperAdmin$ | async">
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="./colegios" routerLinkActive="active">
            <i class="bi bi-building me-2"></i> Colegios
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="./administradores" routerLinkActive="active">
            <i class="bi bi-person me-2"></i> Administradores
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="./conductores" routerLinkActive="active">
            <i class="bi bi-person-vcard me-2"></i> Conductor
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="./buses" routerLinkActive="active">
            <i class="bi bi-bus-front me-2"></i> Bus
          </a>
        </li>
      </ng-container>
    </ul>
    <div class="mt-auto">
      <p *ngIf="adminName$ | async as adminName" class="text-light mb-2">
        Bienvenido, {{ adminName }}
      </p>
      <button class="btn btn-outline-danger w-100" (click)="logout()">SALIR</button>
    </div>
  </nav>
  <main class="main-content flex-grow-1 p-3 d-flex justify-content-center align-items-start">
    <div class="content-container mt-4">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
