<app-header></app-header>
<div class="container-register">
  <div class="form-container">
    <h2>Crear una Cuenta</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="rut">RUT</label>
        <input type="text" id="rut" formControlName="rut" placeholder="RUT" maxlength="10" required appRutFormatter>
        <div *ngIf="registerForm.get('rut')?.invalid && (registerForm.get('rut')?.dirty || registerForm.get('rut')?.touched)" class="error-message">
          <div *ngIf="registerForm.get('rut')?.errors?.['required']">RUT es requerido.</div>
          <div *ngIf="registerForm.get('rut')?.errors?.['rutInvalid']">{{ registerForm.get('rut')?.errors?.['rutInvalid'] }}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre" maxlength="50" required>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" formControlName="apellido" placeholder="Apellido" maxlength="50" required>
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" formControlName="email" placeholder="hello@correo.com" maxlength="100" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" formControlName="password" placeholder="********" maxlength="50" required>
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="tel" id="telefono" formControlName="telefono" placeholder="56912345678" maxlength="15" required>
      </div>
      <div class="form-group">
        <label for="fk_adcolegio">Selecciona Instituto Educacional</label>
        <select id="fk_adcolegio" formControlName="fk_adcolegio" required>
          <option value="">Selecciona una opción</option>
          <option *ngFor="let college of colleges" [value]="college.id">
            {{ college.Nombre }}
          </option>
        </select>
      </div>
      <div class="form-group checkbox">
        <input type="checkbox" id="terms" formControlName="terms" required>
        <label for="terms">Al solicitar registro estás aceptando nuestras condiciones, puedes leerlas <a href="#">aquí</a>.</label>
      </div>
      <button type="submit" class="btn-submit" [disabled]="!registerForm.valid">Solicitar Registro</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</div>
