<app-header></app-header>
<div class="container-fluid home-container">
    <div class="row">
      <div class="col-md-6 text-content ">
        <h2>Conoce nuestra app</h2>
        <h1>Somos la seguridad de tus hijos, somos SafeKIDS</h1>
        <p>
          En SafeKIDS implementamos seguridad y tecnología para el seguimiento en tiempo real
          con mapa y notificaciones. Nuestro compromiso es mantenerte informado de quienes
          transportan a tus hijos.
        </p>
        <button class="btn btn-primary btn-lg">DESCARGAR</button>
      </div>
    </div>
  </div>