<div class="colleges-panel">
    <h2 class="mb-4">{{ isEditing ? 'Editar' : 'Agregar' }} Colegio</h2>
    <form [formGroup]="colegioForm" (ngSubmit)="onSubmit()" class="mb-5">
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nombre" formControlName="Nombre" placeholder="Nombre del Colegio" maxlength="50" [class.is-invalid]="colegioForm.get('Nombre')?.invalid && colegioForm.get('Nombre')?.touched">
            <label for="nombre">Nombre del Colegio</label>
            <div class="invalid-feedback">
              El nombre del colegio es requerido
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="direccion" formControlName="Direccion" placeholder="Dirección" maxlength="100" [class.is-invalid]="colegioForm.get('Direccion')?.invalid && colegioForm.get('Direccion')?.touched">
            <label for="direccion">Dirección</label>
            <div class="invalid-feedback">
              La dirección es requerida
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" formControlName="Email" placeholder="Email" maxlength="100" [class.is-invalid]="colegioForm.get('Email')?.invalid && colegioForm.get('Email')?.touched">
            <label for="email">Email</label>
            <div class="invalid-feedback">
              <span *ngIf="colegioForm.get('Email')?.errors?.['required']">
                El email es requerido
              </span>
              <span *ngIf="colegioForm.get('Email')?.errors?.['email']">
                Email inválido
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="tel" class="form-control" id="telefono" formControlName="Telefono" placeholder="Teléfono" maxlength="15" appNumbersOnly [class.is-invalid]="colegioForm.get('Telefono')?.invalid && colegioForm.get('Telefono')?.touched">
            <label for="telefono">Teléfono</label>
            <div class="invalid-feedback">
              El teléfono es requerido
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="encargado" formControlName="Encargado" placeholder="Director" maxlength="50" [class.is-invalid]="colegioForm.get('Encargado')?.invalid && colegioForm.get('Encargado')?.touched">
            <label for="encargado">Director</label>
            <div class="invalid-feedback">
              El nombre del director es requerido
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary me-2" [disabled]="!colegioForm.valid">
          {{ isEditing ? 'Actualizar' : 'Guardar' }}
        </button>
        <button *ngIf="isEditing" type="button" class="btn btn-primary me-2 my-2" (click)="resetForm()">
          Cancelar
        </button>
      </div>
    </form>

    <h2 class="mb-4">Lista de Colegios</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Director</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let colegio of colegios">
            <td>{{ colegio.id }}</td>
            <td>{{ colegio.Nombre }}</td>
            <td>{{ colegio.Direccion }}</td>
            <td>{{ colegio.Email }}</td>
            <td>{{ colegio.Telefono }}</td>
            <td>{{ colegio.Encargado }}</td>
            <td>
              <button class="btn btn-sm btn-outline-primary me-2" (click)="editColegio(colegio)">Editar</button>
              <button class="btn btn-sm btn-outline-danger" (click)="deleteColegio(colegio.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

