<div class="alumnos-panel">
    <h2 class="mb-4">{{ isEditing ? 'Editar' : 'Agregar' }} Alumno</h2>
    <form [formGroup]="alumnoForm" (ngSubmit)="onSubmit()" class="mb-5">
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nombre" formControlName="Nombre" placeholder="Nombre" maxlength="50">
            <label for="nombre">Nombre</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="apellido" formControlName="Apellido" placeholder="Apellido" maxlength="50">
            <label for="apellido">Apellido</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="rut" formControlName="RUT" placeholder="RUT" maxlength="10" appRutFormatter>
            <label for="rut">RUT</label>
            <small class="text-danger" *ngIf="alumnoForm.get('RUT')?.invalid && alumnoForm.get('RUT')?.touched">
              RUT inválido.
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="text" 
                   class="form-control" 
                   id="curso" 
                   formControlName="Curso" 
                   placeholder="Curso"
                   [class.is-invalid]="alumnoForm.get('Curso')?.invalid && alumnoForm.get('Curso')?.touched" 
                   maxlength="3">
            <label for="curso">Curso</label>
            <div class="invalid-feedback">
              <span *ngIf="alumnoForm.get('Curso')?.errors?.['required']">
                El curso es requerido
              </span>
              <span *ngIf="alumnoForm.get('Curso')?.errors?.['formatoInvalido']">
                Formato inválido. Use 1A-8B para básica o 1MA-4MB para media
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="direccion" formControlName="Direccion" placeholder="Dirección" maxlength="100">
            <label for="direccion">Dirección</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input type="number" 
                   class="form-control" 
                   id="edad" 
                   formControlName="Edad" 
                   placeholder="Edad"
                   [class.is-invalid]="alumnoForm.get('Edad')?.invalid && alumnoForm.get('Edad')?.touched">
            <label for="edad">Edad</label>
            <div class="invalid-feedback">
              <span *ngIf="alumnoForm.get('Edad')?.errors?.['required']">
                La edad es requerida
              </span>
              <span *ngIf="alumnoForm.get('Edad')?.errors?.['min']">
                La edad mínima es 4 años
              </span>
              <span *ngIf="alumnoForm.get('Edad')?.errors?.['max']">
                La edad máxima es 20 años
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <select class="form-select" id="genero" formControlName="Genero">
              <option value="" disabled selected></option>
              <option value="Hombre">Hombre</option>
              <option value="Mujer">Mujer</option>
            </select>
            <label for="genero">Género</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <select class="form-select" id="fk_alcolegio" formControlName="FK_ALColegio">
              <option value="" disabled selected></option>
              <option *ngFor="let college of colleges" [value]="college.id">
                {{ college.Nombre }}
              </option>
            </select>
            <label for="fk_alcolegio">Colegio</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <input 
              type="file" 
              class="form-control" 
              id="imagen"
              (change)="onFileSelected($event)"
              accept="image/*"
              #fileInput>
            <label for="imagen" class="form-label">Imagen del Alumno</label>
          </div>
          
          <!-- Preview de la imagen -->
          <div *ngIf="imagePreview || alumnoForm.get('Imagen')?.value" class="mb-3">
            <img 
              [src]="imagePreview || alumnoForm.get('Imagen')?.value" 
              alt="Preview"
              class="img-preview">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating mb-3">
            <select class="form-select" id="fk_alapoderado" formControlName="FK_ALApoderado">
              <option value="" disabled selected>Seleccione un apoderado</option>
              <option *ngFor="let apoderado of apoderados" [value]="apoderado.RUT">
                {{ apoderado.Nombre }} {{ apoderado.Apellido }}
              </option>
            </select>
            <label for="fk_alapoderado">Apoderado</label>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary me-2" [disabled]="!alumnoForm.valid">
          {{ isEditing ? 'Actualizar' : 'Guardar' }}
        </button>
        <button *ngIf="isEditing" type="button" class="btn btn-primary me-2 my-2" (click)="resetForm()">
          Cancelar
        </button>
      </div>
    </form>
  
    <h2 class="mb-4">Lista de Alumnos</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th>RUT</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Curso</th>
            <th>Edad</th>
            <th>Género</th>
            <th>Colegio</th>
            <th>Imagen</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alumno of alumnos">
            <td>{{ alumno.RUT }}</td>
            <td>{{ alumno.Nombre }}</td>
            <td>{{ alumno.Apellido }}</td>
            <td>{{ alumno.Curso }}</td>
            <td>{{ alumno.Edad }}</td>
            <td>{{ alumno.Genero }}</td>
            <td>{{ getCollegeName(alumno.FK_ALColegio) }}</td>
            <td><img [src]="alumno.Imagen" alt="Alumno Image" width="50" *ngIf="alumno.Imagen"></td>
            <td>
              <button class="btn btn-sm btn-outline-primary me-2" (click)="editAlumno(alumno)">Editar</button>
              <button class="btn btn-sm btn-outline-danger" (click)="deleteAlumno(alumno.RUT)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
