h2 {
    color: #333;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .form-control, .btn {
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
  } 
  
  .btn-primary {
    background-color: #333;
    color: white;
    font-weight: bold;
    width: 100%;
    
    &:hover, &:focus {
      background-color: #333;
      border-color: #333;
      color: white;
    }
  }
  
  table {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    overflow: hidden;
    
    th, td {
      padding: 0.75rem;
    }
  }
  
  .alumnos-panel {
    color: #fff;
  }
  
  .form-floating > .form-control,
  .form-floating > .form-control-plaintext {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .form-floating > .form-control:focus,
  .form-floating > .form-control:not(:placeholder-shown) {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .form-floating > label {
    color: #333;
  }
  
  .table {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .table-light {
    background-color: rgba(255, 255, 255, 0.95);
  }
  
  .form-select {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: #333;
    width: 100%;
  }
  
  .form-floating > .form-select {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }
  
  .form-floating > .form-select ~ label {
    opacity: 1;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
  }

  .form-floating {
    > .form-control,
    > .form-select {
      &:focus ~ label::after,
      &:not(:placeholder-shown) ~ label::after,
      &-plaintext ~ label::after {
        background-color: #fff;
        opacity: 0;
      }
    }
  }

  .btn-outline-primary {
    color: #ffd700;
    border-color: #ffd700;
    margin: 0.2rem;
    
    &:hover, &:focus {
      color: white;
      background-color: #ffd700;
      border-color: #ffd700;
    }
  }
  
  .btn-outline-danger {
    color: #ff0000;
    border-color: #ff0000;
    margin: 0.2rem;
    
    &:hover, &:focus {
      color: white;
      background-color: #ff0000;
      border-color: #ff0000;
    }
  }